.table {
  width: 100%;
}

.table__detections_head-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  border: 1px solid black;
  box-sizing: border-box;
}

.table__detections_body-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: scroll;
  box-sizing: border-box;
  border: 1px solid black;
}

.table__data {
  textalign: center;
}
