.faces-container {
  height: 300px;
}

.face-image {
  position: absolute;
  z-index: 10;
}

.rotate-left {
  transform: rotate(-25deg);
  left: 60px;
}

.rotate-right {
  transform: rotate(25deg);
  right: 60px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-transform: uppercase;
}

.content-container__headline {
  text-align: center;

  background: linear-gradient(
    to right,
    #fcb045 40%,
    #833ab4 40%,
    #833ab4 60%,
    #fcb045 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 4s linear infinite;
}

.content-container__body {
  display: flex;
  width: 750px;
  justify-content: space-between;
}

.content-container__footnote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-transform: uppercase;
}

.content-container__footnote-title {
  position: absolute;
  font-size: 20px;
  bottom: 20px;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
