.sidebar {
  display: flex;
  position: absolute;
  color: white;
  width: 400px;
  height: 90vh;
  top: 0;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: rgba(238, 238, 238, 0.9);
  z-index: 100;
}

.sidebar__section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sidebar__section_title {
  color: black;
  letter-spacing: 1px;
}

.sidebar__search {
  position: relative;
  top: 2px;
  width: 80%;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.sidebar__taglist {
  position: relative;
  height: 500px;
  overflow: scroll;
}

.sidebar__buttons {
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: space-around;
}
